.image_gallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  padding: 0;
  list-style: none;
  margin: 15px auto 0;
  & li {
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    & img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        transform: scale(1.03);
        cursor: zoom-in;
      }
    }
  }
}
